:root {
  --color-primary: #fbf8dd;
  --color-secondary: #1e1e1e;
}

/* SELECTOR UNIVERSAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Arial;
}

img {
  max-width: 100%;
}

body {
  background-color: #1e1e1e;
}

.contenedor {
  max-width: 1440px;
  margin-inline: auto;
  padding-block: 1px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 25px 30px;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
}

.container-logo {
  width: 90px;
  height: 90px;
}

.logo-img {
  width: 100%;
  border-radius: 50%;
}

.buscador-container {
  position: relative;
  margin-left: 15px;
}

.icon-search {
  position: absolute;
  right: 12px;
  top: 6px;
  color: black;
}

.header-logo .buscador {
  border-radius: 10px;
  width: 300px;
  padding: 5px;
  border: 1px black solid;
}

.logo-img {
  width: 100%;
}

.header-list {
  display: flex;
  gap: 15px;
  font-size: 1rem;
}

.header-list li {
  list-style: none;
}

.header-list li a {
  text-decoration: none;
}

.list-text {
  color: rgb(216, 215, 215);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.banner {
  display: flex;
  width: 100vw;
  background-color: #fbf8dd;
}

.banner-img {
  background-image: url("../img/banner.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 70vw;
  height: 500px;
  opacity: 0.9;
}

.banner-title {
  font-size: 2.5rem;
  color: black;
  font-weight: 700;
  font-family: Montserrat;
  /* margin: 10px; */
}

.banner-items {
  /* display: flex; */
  margin: auto;
  width: 30vw;
  text-align: center;
}

.banner-btn {
  font-size: 1.5 rem;
  padding: 10px;
  border-radius: 15px;
  width: 150px;
  margin: 30px 0;
  outline: none;
  font-weight: bold;
  outline: none;
  background-color: #1e1e1e;
  color: #fbf8dd;
}

.section-obras {
  padding: 40px 20px;
}

.title-obra,
.subtitle-obra {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2.5rem;
  color: var(--color-primary);
  font-weight: 700;
}

.subtitle-obra {
  font-family: "Enriqueta", serif;
  font-weight: 400;
}

.contenedor-obras {
  padding: 2rem;
}

.obras {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.obra-map {
  width: 400px;
}

.img-map {
  width: 100%;
}

/*Estilos para la biografía"*/

.section-bio {
  background-color: var(--color-primary);
  padding: 40px 0;

  .title-bio {
    font-size: 2.5rem;
    font-family: Montserrat;
    margin-left: 50px;
    margin-bottom: 30px;
  }

  .container-bio {
    display: flex;
  }

  .side-autor {
    width: 30%;
    padding: 1rem;
  }

  .img-francisco {
    display: block;
    border-radius: 50%;
    margin-inline: auto;
  }

  .side-bio {
    width: 100%;
  }
  .autor-title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .ocupacion-title {
    font-size: 1rem;
    margin-bottom: 50px;
    font-style: italic;
    font-weight: 400;
  }

  .container-parrafo {
    padding-right: 50px;
  }

  .parrafo {
    margin-bottom: 15px;
  }
}

.title-libro {
  color: var(--color-primary);
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 80px;
}

.subtitle-libro {
  color: var(--color-primary);
  font-family: "Enriqueta", serif;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 65px;
}

.contenedor-libro {
  display: flex;
  justify-content: center;
  gap: 5rem;
  width: 100%;
}

.side-descarga {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-descarga {
  background-color: var(--color-primary);
  font-size: 2.5 rem;
  padding: 20px;
  border-radius: 15px;
  width: 230px;
  margin: 30px 0;
  outline: none;
  font-weight: bold;
  outline: none;
  color: #1e1e1e;
}

.parrafo-libro {
  color: var(--color-primary);
  line-height: 30px;
  max-width: 42ch;
}

.contenedor-img-libro {
  width: 350px;
  margin: 0 auto;
}

.img-libro {
  width: 100%;
  border-radius: 15px;
}
/* Estilos para dispositivos móviles default (mobile-first)*/

/* Estilos para dispositivos de pantalla pequeña */
@media screen and (min-width: 576px) {
  /* Agrega estilos específicos para dispositivos de pantalla pequeña */
}

/* Estilos para dispositivos de pantalla mediana */
@media screen and (min-width: 768px) {
  /* Agrega estilos específicos para dispositivos de pantalla mediana */
}

/* Estilos para dispositivos de pantalla grande */
@media screen and (min-width: 992px) {
  /* Agrega estilos específicos para dispositivos de pantalla grande */
}

/* Estilos para dispositivos de pantalla extra grande */
@media screen and (min-width: 1200px) {
  /* Agrega estilos específicos para dispositivos de pantalla extra grande */
}
